VK_TOKEN=vk1.a.your_group_token
VK_USER_TOKEN=vk1.a.your_user_token
POLL_TRACKER_SYNC_MS=60000
BOT_ADMIN_USER_ID=123456789
VK_USER_TOKEN_AUTH_URL=https://oauth.vk.com/authorize?client_id=6287487&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=polls,offline&response_type=token&v=5.199
